.dataDisplay {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  h4 {
    font-size: 18px;
  }
  p {
    max-width: 888px;
    font-variant-caps: small-caps;
    text-emphasis: open;
    font-variant-numeric: oldstyle-nums;
  }
}
